# Executable
*.out

# Object files
*.o

# Build files
build/

# Temporary Files
temp/
temp.*
*.tmp

# Logs
logs/
*.log
dump.*

# VSCode
.vscode/

# Tests
unit_tests
parse
read
sandbox

# Other stuff
static/